<app-nav></app-nav>

<main  class="cs-page-wrapper">
        <!-- Breadcrumb -->
      <nav class="bg-secondary mb-3" aria-label="breadcrumb">
        <div class="container">
          <ol class="breadcrumb breadcrumb-alt mb-0">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']"><i class="cxi-home"></i></a>
            </li>
            
            <li class="breadcrumb-item active" aria-current="page">Mi perfil</li>
          </ol>
        </div>
      </nav>

      <section class="container pt-3 pt-lg-4 pb-5 pb-lg-6">
        <div class="row pb-2 pb-lg-0">
            <!-- Account menu (sticky sidebar) -->
        <aside class="col-xl-3 col-lg-4 pb-3 mb-4 mb-lg-0">
            <app-siderbar></app-siderbar>
        </aside>
        

          <!-- Content -->
          <div class="col-lg-8 ml-auto">
            <div class="d-flex align-items-center justify-content-between mb-4 pb-1 pb-sm-3">
              <h1 class="h2 mb-0">My profile</h1>
              <a href="#" class="btn text-danger btn-link font-size-base text-decoration-none pr-0">
                <i class="cxi-delete font-size-lg mt-n1 mr-2"></i>
                Delete account
              </a>
            </div>
            <form>
              <div class="row pb-3">
                <div class="col-sm-6 form-group">
                  <label for="ac-fn">Nombres</label>
                  <input type="text" class="form-control form-control-lg" name="nombres" [(ngModel)]="cliente.nombres" placeholder="Nombres completos">
                </div>
                <div class="col-sm-6 form-group">
                  <label for="ac-ln">Apellidos</label>
                  <input type="text" class="form-control form-control-lg" name="apeliidos" [(ngModel)]="cliente.apellidos" placeholder="Apellidos completos">
                </div>
                <div class="col-sm-6 form-group">
                  <label for="ac-email">Correo electronico</label>
                  <input type="email" class="form-control form-control-lg" name="email" [(ngModel)]="cliente.email" placeholder="examle@gmail.com">
                </div>
                <div class="col-sm-6 form-group">
                  <label for="ac-phone">Contraseña</label>
                  <input type="password" class="form-control form-control-lg" placeholder="Nueva contraseña" name="password" [(ngModel)]="cliente.password">
                </div>
                <div class="col-sm-6 form-group">
                  <label for="ac-email">Telefono</label>
                  <input type="number" class="form-control form-control-lg" name="telefono" [(ngModel)]="cliente.telefono" placeholder="913819341">
                </div>

                <div class="col-sm-6 form-group">
                  <label for="ac-email">Fecha de nacimiento</label>
                  <input type="date" class="form-control form-control-lg" name="f_nacimiento" [(ngModel)]="cliente.f_nacimiento">
                </div>
                <div class="col-sm-6 form-group">
                  <label for="ac-email">DNI</label>
                  <input type="number" class="form-control form-control-lg" name="dni" [(ngModel)]="cliente.dni" placeholder="47701709">
                </div>
              
                <div class="col-sm-6 form-group">
                  <label for="ac-country">Genero</label>
                  <select id="ac-country" class="custom-select custom-select-lg">
                    <option value="" disabled selected>Seleccionar</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Prefiero no decir</option>
                    
                  </select>
                </div>
                <div class="col-sm-6 form-group">
                  <label for="ac-city">Pais</label>
                  <select id="ac-city" class="custom-select custom-select-lg">
                    <option value="" disabled>Seleccionar pais</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Brazil">Brazil</option>
                    <option value="Chile">Chile</option>
                    <option value="Peru" selected>Peru</option>
  
                  </select>
                </div>
                
              </div>
              <button type="submit" class="btn btn-primary btn-lg">&nbsp;Actualizar Perfil&nbsp;</button>
            </form>
          </div>
        </div>
      </section>

    
</main>



<app-footer></app-footer>